/* temp basic css */

.dialog-layout {
  display: flex;
  gap: 20px;
}

.left-panel {
  display: flex;
  flex: 0 0 35%;
  flex-direction: column;
}

.right-panel {
  display: flex;
  flex: 0 0 65%;
  flex-direction: column;
}

.filter-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

mat-list-item.selected {
  background-color: green;
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
}
