<div class="uavs-list-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Śledzone BSP:</mat-card-title>
    </mat-card-header>

    <mat-list>
      <mat-list-item
        *ngFor="let drone of combinedDroneData"
        (click)="onDroneClick(drone)"
        [class.selected]="selectedDrone === drone"
      >
        <mat-icon matListItemIcon>keyboard_command</mat-icon>
        <div matListItemTitle>
          {{ drone.type }} BSP: {{ drone.info.serial_number }}
        </div>
        <div matListItemLine *ngIf="drone.movement">
          Lat.:
          {{ (drone.movement.latitude || drone.movement.lat)?.toFixed(4) }},
          Lng.:
          {{ (drone.movement.longitude || drone.movement.lng)?.toFixed(4) }}
        </div>
        <div matListItemLine *ngIf="!drone.movement">
          Brak danych o położeniu
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>

    <mat-card-footer>
      <p>Ilość śledzonych BSP: {{ combinedDroneData.length }}</p>
    </mat-card-footer>
  </mat-card>
</div>

<div class="drone-details" *ngIf="selectedDrone">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Szczegóły BSP {{ selectedDrone.info.serial_number }}
        <button
          mat-icon-button
          (click)="closeDroneDetails()"
          class="close-button"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content *ngIf="selectedDrone.movement">
      <!--droneid-->
      <mat-list *ngIf="selectedDrone.info.device_type">
        <mat-list-item>
          <div matListItemTitle>Podstawowe informacje</div>
          <div matListItemLine>
            Numer seryjny: {{ selectedDrone.info.serial_number }}
          </div>
          <div matListItemLine>Protokół: DroneID</div>
          <div matListItemLine>
            Typ urządzenia: {{ selectedDrone.info.device_type }}
          </div>
          <div matListItemLine>
            Timestamp: {{ selectedDrone.movement.gps_time }}
          </div>
        </mat-list-item>
        <mat-list-item>
          <div matListItemTitle>Położenie</div>
          <div matListItemLine>
            Szerokość geo.: {{ selectedDrone.movement.latitude?.toFixed(8) }} [°]
          </div>
          <div matListItemLine>
            Długość geo.: {{ selectedDrone.movement.longitude?.toFixed(8) }} [°]
          </div>
          <div matListItemLine>
            Wysokość npm.: {{ selectedDrone.movement.altitude?.toFixed(2) }} [m]
          </div>
          <div matListItemLine>
            Wysokość względna:
            {{ selectedDrone.movement.height?.toFixed(2) }} [m]
          </div>
          <div matListItemLine>
            Szerokość geo. pilota: {{ selectedDrone.movement.rc_latitude?.toFixed(8) }} [°]
          </div>
          <div matListItemLine>
            Długość geo. pilota: {{ selectedDrone.movement.rc_longitude?.toFixed(8) }} [°]
          </div>
        </mat-list-item>
        <mat-list-item>
          <div matListItemTitle>Ruch i Orientacja</div>
          <div matListItemLine>
            Prędkość w kier. płn.:
            {{ selectedDrone.movement.v_north?.toFixed(2) }} [m/s]
          </div>
          <div matListItemLine>
            Prędkość w kier. wsch.:
            {{ selectedDrone.movement.v_east?.toFixed(2) }} [m/s]
          </div>
          <div matListItemLine>
            Prędkość pionowa: {{ selectedDrone.movement.v_up?.toFixed(2) }} [m/s]
          </div>
          <div matListItemLine>
            Odchylenie (Yaw): {{ selectedDrone.movement.yaw?.toFixed(2) }} [°]
          </div>
          <div matListItemLine>
            Informacje o stanie: {{ selectedDrone.movement.state_info }}
          </div>
        </mat-list-item>
      </mat-list>

      <!--remoteid-->
      <mat-list *ngIf="!selectedDrone.info.device_type">
        <mat-list-item>
          <div matListItemTitle>Podstawowe informacje</div>
          <div matListItemLine>
            Numer seryjny: {{ selectedDrone.info.serial_number }}
          </div>
          <div matListItemLine>Protokół: RemoteID</div>
          <div matListItemLine>
            Timestamp:<br />{{ selectedDrone.movement.timestamp }}
          </div>
        </mat-list-item>
        <mat-list-item>
          <div matListItemTitle>Położenie</div>
          <div matListItemLine>
            Szerokość geo.: {{ selectedDrone.movement.lat?.toFixed(8) }} [°]
          </div>
          <div matListItemLine>
            Długość geo.: {{ selectedDrone.movement.lng?.toFixed(8) }} [°]
          </div>
          <div matListItemLine>
            Wysokość npm.:
            {{ selectedDrone.movement.altitude?.toFixed(2) }} [m]
          </div>
          <div matListItemLine>
            Wysokość względna:
            {{ selectedDrone.movement.height?.toFixed(2) }} [m]
          </div>
          <div matListItemLine>
            Szerokość geo. pilota: {{ selectedDrone.movement.pilot_lat?.toFixed(8) }} [°]
          </div>
          <div matListItemLine>
            Długość geo. pilota: {{ selectedDrone.movement.pilot_lng?.toFixed(8) }} [°]
          </div>
        </mat-list-item>
        <mat-list-item>
          <div matListItemTitle>Ruch i Orientacja</div>
          <div matListItemLine>
            Prędkość X:
            {{ selectedDrone.movement.x_speed?.toFixed(2) }} [m/s]
          </div>
          <div matListItemLine>
            Prędkość Y:
            {{ selectedDrone.movement.y_speed?.toFixed(2) }} [m/s]
          </div>
          <div matListItemLine>
            Prędkość Z (pionowa):
            {{ selectedDrone.movement.z_speed?.toFixed(2) }} [m/s]
          </div>
          <div matListItemLine>
            Odchylenie (Yaw): {{ selectedDrone.movement.yaw?.toFixed(2) }} [°]
          </div>
          <div matListItemLine>
            Pochylenie (Pitch): {{ selectedDrone.movement.pitch?.toFixed(2) }} [°]
          </div>
          <div matListItemLine>
            Przechylenie (Roll): {{ selectedDrone.movement.roll?.toFixed(2) }} [°]
          </div>
        </mat-list-item>
        <mat-list-item>
          <div matListItemTitle>Status</div>
          <div matListItemLine>
            Czy może być fałszowany: {{ selectedDrone.movement.spoofed ? 'Tak' : 'Nie' }}
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-content *ngIf="!selectedDrone.movement">
      <p>Brak danych o ruchu dla wybranego BSP.</p>
    </mat-card-content>
  </mat-card>
</div>
