<app-about-view />
<app-import-view-icon />
<app-historic-data-view-icon [map]="map" [service]="service">
</app-historic-data-view-icon>
<div class="map-container">
  <div id="map"></div>
</div>
<app-uavs-list-view
  [remoteid_drones]="remoteid_drones"
  [droneid_drones]="droneid_drones"
  [remoteids_movement]="remoteids_movement"
  [droneids_movement]="droneids_movement"
  [map]="map"
  [mapService]="service"
></app-uavs-list-view>
<app-flight-history-control-panel
  [map]="map"
  [mapService]="service"
></app-flight-history-control-panel>
